<div class="container">
    <div class="row">
        <div class="col border border-black border-2 rounded-start bg-secondary">
            <a routerLink = '/hotels'><p class="lead">Отели</p></a>
        </div>
        <div class="col border border-black border-2 bg-secondary">
            <p class="lead">Отели</p>
        </div>
        <div class="col border border-black border-2 bg-secondary">
            <p class="lead">Отели</p>
        </div>
        <div class="col border border-black border-2 bg-secondary">
            <p class="lead">Отели</p>
        </div>
        <div class="col border border-black border-2 rounded-end bg-secondary">
            <p class="lead">Отели</p>
        </div>
    </div>
</div>