<div class="container">
    <div class="row">
        <div class="col border border-black border-2 rounded-start bg-secondary">
            Отели
        </div>
        <div class="col border border-black border-2 bg-secondary">
            Аренда автомобилей
        </div>
        <div class="col border border-black border-2 bg-secondary">
            Экскурмия и развлечения
        </div>
        <div class="col border border-black border-2 bg-secondary">
            Услуга личный шофер
        </div>
        <div class="col border border-black border-2 rounded-end bg-secondary">
            Встреча в аэропорту
        </div>
    </div>
</div>