<div class="mx-5 my-5">
    <div class="row d-flex justify-content-center">
        <div class="col border-1 rounded-start">
            <a class="container align-items-center" routerLink = '/hotels'>
                <img src="assets/images/hotel.svg" class="mx-auto d-block" width="50px" alt="">
                <p class="lead text-center">Отели</p>
            </a>
        </div>
        <!-- <div class="col">
            <a class="container align-items-center" routerLink = '/hotels'>
                <img src="assets/images/hotel.svg" class="mx-auto d-block" width="50px" alt="">
                <p class="lead text-center">Рейсы</p>
            </a>
        </div> -->
        <div class="col">
            <a class="container align-items-center" routerLink = '/hotels'>
                <img src="assets/images/car_89102.svg" class="mx-auto d-block" width="50px" alt="">
                <p class="lead text-center">Аренда автомобилей</p>
            </a>
        </div>
        <div class="col">
            <a class="container align-items-center" routerLink = '/hotels'>
                <img src="assets/images/travel_5965599.svg" class="mx-auto d-block" width="50px" alt="">
                <p class="lead text-center">Экскурсии и развлечений</p>
            </a>
        </div>
        <div class="col border-1">
            <a class="container align-items-center" routerLink = '/hotels'>
                <img src="assets/images/driver.svg" class="mx-auto d-block" width="50px" alt="">
                <p class="lead text-center">Услуга личный шофер</p>
            </a>
        </div>
        <div class="col border-1 rounded-end">
            <a class="container align-items-center" routerLink = '/hotels'>
                <img src="assets/images/business.svg" class="mx-auto d-block" width="50px" alt="">
                <p class="lead text-center">Встреча в аэропорту</p>
            </a>
        </div>
    </div>
</div>