<div class="mx-5 my-5 d-flex flex-row bg-light p-3 rounded-3" *ngIf="books?.length">
    <div class="row" *ngFor="let book of books" >
        <div class="col d-flex flex-column justify-content-between">
            <h1>{{book.flight}}</h1>
            <p class="lead"></p>
            <p class="lead"><strong></strong></p>
        </div>
        <div class="col d-flex flex-column justify-content-between">
            <p class = "lead"></p>
            <p class = "lead"></p>
            <p class = "lead"></p>
            <button type="button" class="btn btn-primary mx-2"
            >Удалить</button>
            <button type="button" class="btn btn-primary mx-2"
            >Обновить</button>
        </div>
    </div>
</div>