<form>
    <div class="row">
        <div class="form-group col-3">
            <label for="inputCity">Откуда</label>
            <select id="inputState" class="form-control" [(ngModel)]="selectedOrigin"
            [ngModelOptions]="{standalone: true}">
                <option *ngFor="let airport of airports" [ngValue]="airport">{{airport.name}}</option>           
            </select>
        </div>
        <div class="form-group col-4">
            <label for="inputState">Куда</label>
            <select id="inputState" class="form-control" [(ngModel)]="selectedDestination"
            [ngModelOptions]="{standalone: true}">
              <option *ngFor="let airport of airports" [ngValue]="airport">{{airport.name}}</option>
            </select>
        </div>    
    </div>
    <button type="submit" class="btn btn-primary" (click)="filter()">Поиск</button>
</form>

<div class="mx-5 my-5 d-flex flex-row bg-light p-3 rounded-3" *ngIf="flights?.length">
    <div class="row" *ngFor="let flight of flights" >
        <div class="col d-flex flex-column justify-content-between">
            <h1>{{flight.origin.name}} - {{flight.destination.name}}</h1>
            <p class="lead">{{flight.departure_time}} - {{flight.arrival_time}}</p>
            <p class="lead"><strong>{{flight.price_economy}}</strong></p>
        </div>
        <div class="col d-flex flex-column justify-content-between">
            <p class = "lead">Price business {{flight.price_business}}</p>
            <p class = "lead">Price first {{flight.price_first}}</p>
            <p class = "lead">Available seats {{flight.available_seats}}</p>
            <select id="inputState" class="form-control" [(ngModel)]="seat_class"
            [ngModelOptions]="{standalone: true}">
              <option [ngValue]="'economy'">Economy</option>
              <option [ngValue]="'economy'">First</option>
              <option [ngValue]="'economy'">Business</option>
            </select>
            <button type="button" class="btn btn-primary mx-2"
            (click)="createBook(passanger, flight, seat_class, flight.price_economy)"
            >Бронировать</button>
        </div>
    </div>
</div>