<div class="mx-5 my-5 d-flex flex-column justify-content-center">
    <h5 class="text-center">Рекомендуемы направления из пункта: 
        <select class="select" aria-label=".form-select-lg example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </h5>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/images/Tokyo.jpg" class="d-block w-100" alt="plane">
                <div class="carousel-caption position-absolute top-50" style="justify-content: center;">
                    <h1>Tokyo</h1>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev bg-grey" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
