<div class="col mx-5">
    <ul class="nav nav-tabs d-flex flex-row justify-content-between" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Рейсы</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Моя бронь</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Регистрация</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Статус рейса</button>
      </li>
    </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia quisquam blanditiis deserunt veritatis praesentium error possimus fuga, nostrum rerum ipsa. Ipsa, molestiae architecto amet reprehenderit animi voluptatem saepe voluptate? Libero!</div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, illum. Exercitationem repudiandae itaque quaerat autem suscipit quam officia, aspernatur beatae recusandae cupiditate fugit dolorem repellat illum, optio ab asperiores voluptatibus.</div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quisquam vitae soluta obcaecati sunt, recusandae harum sint debitis aliquid non nemo explicabo neque omnis maxime perspiciatis. Sint magnam aut amet.</div>
  </div>
</div>
