<div class="mx-5 my-4 d-flex justify-content-center">
  <form novalidate #form="ngForm" (ngSubmit)="authenticate(form)">
    <div class="bg-danger mt-2 p-2 text-center text-white"
    *ngIf="errorMessage != null"
    >
      {{errorMessage}}
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Username</label>
      <input [(ngModel)] = "username"  type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter username"
      [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input [(ngModel)] = "password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
      [ngModelOptions]="{standalone: true}">
    </div>
    <button type="submit" class="btn btn-primary my-2">Log in</button>
    <p>Or <a routerLink="/sign-up">Sign up</a></p>
  </form>
</div>

