<div class="container d-flex flex-row">
    <img src="assets/images/hotel-generic.jpg" height="300px" alt="some">
    <div class="container d-flex flex-column justify-content-between">
        <h1>Some title</h1>
        <p class="lead">Some para</p>
        <p class="lead"><strong>Some text</strong></p>
    </div>
    <div class="container d-flex flex-column justify-content-between">
        <p class = "lead">Отзывы</p>
        <p class = "lead">Отзывы</p>
        <p class = "lead">Отзывы</p>
        <button type="button" class="btn btn-primary">Бронировать</button>
    </div>
</div>